body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
#for{
    color: #4267b2;
}
#title{
    font-weight: bolder;
    margin-left: 40px;
    margin-bottom: 5px;
    width: 75%;
    padding: 5px;
    color: black;
}
header{
    background: white;
    color: #4267b2;
    text-align: center;
    margin-top: 20px;
}
h1{
    font-size: 3em;
}
.facebook{
    background-color: white;
    width: 500px;
    margin-left: 650px;
    margin-top: 20px;
    margin: center;
    text-align: center;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #898f9c;
}
text{
    padding: 10px;
    width: 75%;
    border: 1px solid #898f9c;
    border-radius: 5px;
}
#login{
    background-color: #4267b2;
    width: 80%;
    color: white;
    margin: 10px;
    border-radius: 5px;
}
.new{
    background-color: green;
    color: white;
    padding: 1px;
    width: 50%;
    margin-left: 125px;
    margin-bottom: 15px;
    border-radius: 5px;
}